
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Oswald:wght@200&family=Roboto+Mono:wght@300;400&display=swap');

* {
    font-family: "Oswald";
}


:root {
    --global-dark: #363635;
    --global-light: #EEEEEE;
    --global-clr1: #868B8E;
    --global-clr2: #EEEDE7;
    --global-clr3: #B9B7BD;
    --global-clr4: #E7D2CC;
    --global-clr5: #363635;
}
