
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    background: var(--global-light);
}

h2 {
    border-bottom: solid 1px #1b1b1b2a;
    color: var(--global-dark);
    font-size: 3em;
    padding: 15px;
    padding-left: 70px;
    margin-top: 0px;
}

#cnrs {
    color: var(--global-clr3);
}

#flexcontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
    margin-top: 10%;
}

.content {
    background-color: white;
    padding: 75px;
    padding-top: 15px;
    transition-duration: 0.25s;
    width: 850px;
    margin: 20px;
}

.content:hover {
    filter: drop-shadow(0 0.43rem 0.43rem rgb(0, 0, 0, 0.05));
    transition-duration: 0.25s;
    transform: translateY(-3px);
}

a, a:visited {
    color: var(--global-dark);
    text-decoration: none;
    font-size: 1.4em;
    border-bottom: solid 3px #00000000;
    transition-duration: 0.5s;
}

a:hover {
    border-bottom: solid 3px var(--global-clr3);
    transition-duration: 0.5s;
}

li {
    margin: 20px;
    font-size: 1.1em;
}

li:before {
    content: "📌";
    margin-right: 7px;
    font-size: 1.2em;
}

ul {
    margin: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0px;
    list-style-type: none;
}
